{% extends 'first/base.html' %}
{% block content %}

<section class="container">
    <ul id="services">
        <li>
            <h1>This is Alif</h1>
            <p>
                I would like to represent myself as a competitive programmer. After that I am a student of department of CSE in Daffodil International University.
            </p>
        </li>

        <li>
            <h1>This is Alif</h1>
            <p>
                I would like to represent myself as a competitive programmer. After that I am a student of department of CSE in Daffodil International University.
            </p>
        </li>

        <li>
            <h1>This is Alif</h1>
            <p>
                I would like to represent myself as a competitive programmer. After that I am a student of department of CSE in Daffodil International University.
            </p>
        </li>

        <li>
            <h1>This is Alif</h1>
            <p>
                I would like to represent myself as a competitive programmer. After that I am a student of department of CSE in Daffodil International University.
            </p>
        </li>
    </ul>
</section>

{% endblock %}
